<section class="section summary-section">
	<h2 class="section-title card-header" data-toggle="collapse" href="#summary" aria-expanded="true" aria-controls="summary" ><i class="fa fa-user"></i>About Me</h2>
	<div class="collapse show" id="summary">
	<div class="summary card-body">
    	<p>Hello!</p><br/>
		<p>Since learning C++ and Java courses in high school, I've been fascinated with mixing code and visuals. At a college internship, I began to produce live projection mapped shows for both upscale events and local warehouse concerts. At hackathons I was often responsible for the front end experience and interactive elements of the application. My favorite software to work with is Unity, Touchdesigner, and ThreeJS; though I often experiment with other applications outside my wheelhouse.</p><br>
		<!-- <p>My career in media production has built a solid foundation for my understanding of sound, lighting, and video hardware. As an independent contractor, I've produced several interactive installations and AR/VR applications for HMDs as well. My passion is driven from a desire to create memorable experiences that people can share.</p> -->
		<p>I'm always to open to hearing out new opportunities and adventures. If interested please feel free to send a note.</p><br/>

		<p>Thanks for reading :)</p>
	</div><!--//summary-->
</div>
</section><!--//section-->