<section class="section summary-section">
	<h2 class="section-title card-header" data-toggle="collapse" href="#summary" aria-expanded="true" aria-controls="summary" ><i class="fa fa-user"></i>About Me</h2>
	<div class="collapse hide" id="summary">
	<div class="summary card-body">
    	<p >I'm a technoculturalist with a great passion for creative coding. As a student taking traditional C++ and Java courses, I independently began toying with Processing and Touchdesigner to create my own graphics applications. My early career as an audio video technician gave way to a better, professional understanding of computer hardware, sound, lighting, and data networks. And with that I began creating my own interactive installations and VJ sets for clients and friends. Now, I work predominantly on developing augmented and virtual reality applications using Unreal and Unity, designed for Vive, Kinect, Hololens, etc. Ultimately I enjoy creating a unique user experience and have adapted to a diverse range of programming languages and concepts in doing so. 
    	</p>
	</div><!--//summary-->
</div>
</section><!--//section-->