<section class="section experiences-section">
                <h2 class="section-title card-header" data-toggle="collapse" href="#experience" aria-expanded="true" aria-controls="experience" ><i class="fa fa-briefcase"></i>Professional Experience</h2>
                <div class="collapse hide" id="experience">
                    <div class="card-body">
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VR Content Engineer</h3>
                            <div class="time accent">February 2017 – Present</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Intel - True VR, Santa Clara</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Lead development projects for AWS instances and content management systems</li>
                        <li>Report on daily updates to engineering and production sprints</li>
                        <li>Live and post-production of sports footage for social media distribution (WebVR, 360 Video, HLS)</li>
                        <li>Develop transcoding and publishing scripts using Python, AWS, FFmpeg</li>
                        <li>Prototype VR/AR demos across several HMD platforms with in-house content</li>
                        <li>Design the content management and delivery strategy for B2B services</li>
                        <li>Identify bugs within the core app and produce the best possible experience for clients (Unity/ C#)</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Consultant</h3>
                            <div class="time accent">July 2016 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Float Hybrid, San Francisco</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Develop full-stack applications for augmented, mixed, and virtual reality experiences</li>
                        <li>Build interactive demos for HTC Vive, Samsung Gear, HoloLens, Kinect, Oculus, and other depth sensors</li>
                        <li>Prototype creative solutions to make every experience unique and intuitive</li>
                        <li>Work tight within a small team of asset creators to address client-specific needs</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Broadcast Engineer</h3>
                            <div class="time accent">December 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company accent">LinkedIn, Sunnyvale</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Scripted Google Apps tasks for the media production team</li>
                        <li>Produced creative content for the LinkedIn employee portal</li>
                        <li>Led workshops on content creation, AV/VC operations, and broadcasting software</li>
                        <li>Broadcasted livestreams for company wide standups with over 6,000 viewers</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Consultant</h3>
                            <div class="time accent">August 2015 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company accent">All Of It Now, Oakland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Developed Touchdesigner and Processing apps for live generative video</li>
                        <li>Operated MIDI/OSC lighting controllers using Resolume and OpenFrameworks</li>
                        <li>Produced stage lighting for AIDS Memorial Grove and California Academy of Sciences</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time accent">April 2014 - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company accent">All Of It Now, Oakland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Set up projection mapping visuals for concerts and stage events</li>
                        <li>Edited promotional video footage using Premiere and After Effects</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </div>
                </div>
            </section><!--//section-->