<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VR Content Engineer</h3>
                            <div class="time accent">February 2017 – Present</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Intel - True VR, Santa Clara</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Live and post-production of sports footage for social media distribution (WebVR, 360 Video, HLS)</li>
                        <li>Project lead for AWS webapps and implementing agile development, A/B testing</li>
                        <li>Report daily to engineering standups with updates to weekly sprints</li>
                        <li>Prototype and develop systems for automatic file retrieval and transcoding using Python</li>
                        <li>Prepare VR/AR demos across several HMD platforms with in-house content</li>
                        <li>Design the content management and delivery strategy for B2B services</li>
                        <li>Identify bugs within the core app and produce the best possible experience for clients (Unity/ C#)</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Interactive Engineer - Consultant</h3>
                            <div class="time accent">July 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Float Hybrid, San Francisco</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Develop full-stack applications for augmented, mixed, and virtual reality experiences</li>
                        <li>Build interactive demos for HTC Vive, Samsung Gear, HoloLens, Kinect, Oculus, and other depth sensors</li>
                        <li>Prototype creative solutions to make every experience unique and intuitive</li>
                        <li>Work tight within a small team of asset creators to address client-specific needs</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A/V Engineer - Contractor</h3>
                            <div class="time accent">December 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company accent">LinkedIn, Sunnyvale</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Demonstrated augmented reality technology for stage productions</li>
                        <li>Automated team tasks by scripting Google Apps Gmail and Calendar scheduling</li>
                        <li>Edited and produced creative content for the LinkedIn employee portal</li>
                        <li>Led and attended workshops on content creation, AV/VC operations, and broadcasting software</li>
                        <li>Produced and broadcasted livestreams for company wide standups with over 6,00 viewers</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Audio Visual Specialist</h3>
                            <div class="time accent">September 2015 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Santa Clara Valley Water District, San Jose</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Directed event logistics and coordinated all media operations across Bay Area industrial sites</li>
                        <li>Managed public broadcasts and operated complex audio/video systems</li> 
                        <li>Produced and documented training videos and archived board room events</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Video Engineer</h3>
                            <div class="time accent">April 2013 - October 2015</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Academic Technology Services, Davis</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Directed event logistics and coordinated all media operations across Bay Area industrial sites</li>
                        <li>Managed public broadcasts and operated complex audio/video systems</li> 
                        <li>Produced and documented training videos and archived board room events</li>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->