<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Interactive Engineer</h3>
                            <div class="time">July 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Float Hybrid, San Francisco</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Develop full-stack applications for augmented, mixed, and virtual reality experiences</li>
                        <li>Build demos for HTC Vive, Samsung Gear, HoloLens, Kinect, Oculus, and other depth sensors</li>
                        <li>Prototype creative solutions to make every experience unique and intuitive</li>
                        <li>Coordinate with the art director and designers to finish polished installations</li>
                        <li>Maintain code repositories for C#/Unity, Javascript, and HTML/CSS projects</li>
                        <li>Ideate use cases and marketing proposals for chatbots, electronic wallets, and projection mapping</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Multimedia Engineer</h3>
                            <div class="time">December 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company accent">LinkedIn, Sunnyvale</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Presented augmented reality and projection mapping as new technology for audio-visual productions</li>
                        <li>Benefited team productivity and organization by writing Google Apps scripts for emails and scheduling tasks</li>
                        <li>Edited and produced creative content for the internal-facing company website</li>
                        <li>Led and attended workshops on content creation, AV/VC operations, and broadcasting software</li>
                        <li>Supervised several live-streams and video broadcasts for quality assurance</li>
                        </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Audio Visual Specialist</h3>
                            <div class="time">September 2015 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company accent">Santa Clara Valley Water District, San Jose</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Directed event logistics and oversaw all media operations across Santa Clara county</li>
                        <li>Managed public broadcasts and operated complex audio/video systems</li> 
                        <li>Produced and documented training videos and archived board room events</li>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->