<section class="section projects-section">
                <h2 class="section-title card-header" data-toggle="collapse" href="#projects" aria-expanded="true" aria-controls="projects"><i class="fa fa-archive"></i>Projects</h2>
                <div class="collapse hide" id="projects">
                    <div class="card-body">
                <div class="item">
                    <div id="intel-cover" class="proj" style="background-image: url({{site.baseurl}}/assets/images/carousel/intel.jpg);" ></div><br/>
                    <span class="project-title"><a href="https://www.intel.com/content/www/us/en/virtual-reality/true-vr-technology-overview.html" target="_blank" class="link">Intel True VR</a></span> - <span class="project-tagline">Watch your favorite sports game live in VR with stereoscopic, high-definition video. Take advantage of multiple VR angles for a personalized sports-watching experience like no other. All in real-time.</span>
                </div>
                <div class="item">
                    <div id="Vive-cover" class="proj" style="background-image: url({{site.baseurl}}/assets/images/Vive.png);"></div><br/>
                    <span class="project-title"><a href="https://vimeo.com/246553471" class="link" target="_blank">Vive, VR Interior Demo</a></span> - <span class="project-tagline">A life-like simulation of the Float office with virtual modifications</span>
                </div><!--//item-->
                <div class="item">
                    <div id="sees-cover" class="proj" style="background-image: url({{site.baseurl}}/assets/images/carousel/sees.png);"></div><br/>
                    <span class="project-title"><a href="https://vimeo.com/196790610" class="link" target="_blank">Interactive Display @ See's Candies</a></span> - <span class="project-tagline">A winter themed augmented reality display using Kinect's skeleton tracking capabilities.</span>
                </div><!--//item-->
                <div class="item">
                    <div id="budlight-cover" class="proj" style="background-image: url({{site.baseurl}}/assets/images/carousel/budlight.png);"></div><br/>
                    <span class="project-title"><a href="https://vimeo.com/180105298" target="_blank" class="link">Bud Light Virtual Fitting Room</a></span> - 
                    <span class="project-tagline">An augmented reality photobooth for Bud Light merchandise, installed at music festivals across the world.</span>
                </div><!--//item-->
                <div class="item">
                    <div  class="proj" id="AI-cover" style="background-image: url({{site.baseurl}}/assets/images/anything_interactive.png);"></div><br/>
                    <span class="project-title"><a href="https://vimeo.com/137544816" target="_blank" class="link">Anything Interactive</a></span> - <span class="project-tagline">Using infrared depth sensors, Anything Interactive transforms retail shelf spaces into an engaging customer experience. </span>
                </div><!--//item-->
                <div class="item">
                    <div class="proj" id="webVR-cover" style="background-image: url({{site.baseurl}}/assets/images/webVR.png);"></div><br/>
                    <span class="project-title"><a href="http://classes.marpi.pl/webvr/public/adrian/" target="_blank" class="link">Grey Area WebVR Workshop</a></span> - <span class="project-tagline">A Three.JS VR environment suitable for viewing on desktop and VR headsets.</span>
                </div><!--//item-->
                <div class="item">
                    <div id="heart-cover" class="proj" style="background-image: url({{site.baseurl}}/assets/images/carousel/heart.png);"></div><br/>
                    <span class="project-title"><a href="https://vimeo.com/128038793" target="_blank" class="link">Projection Mapped Heart</a></span> - <span class="project-tagline">Designed for Picnic Day, facets of the projection-mapped heart revealed tweets of the town-wide festival in real-time. The canvas was later repurposed for VJ gigs and installations. </span>
                </div><!--//item-->
            </div>
        </div>
            </section><!--//section-->