<section class="section projects-section">
                <h2 class="section-title card-header" data-toggle="collapse" href="#projects" aria-expanded="true" aria-controls="projects"><i class="fa fa-archive"></i>Projects</h2>
                <div class="collapse show" id="projects">
                    <div class="card-body">
                <div class="item">
                    <span class="project-title"><a href="https://www.intel.com/content/www/us/en/virtual-reality/true-vr-technology-overview.html">Intel True VR</a></span> - <span class="project-tagline">Watch your favorite sports game live in VR with stereoscopic, high-definition video. Take advantage of multiple VR angles for a personalized sports-watching experience like no other. All in real-time.</span>
                </div>
                <div class="item">
                    <span class="project-title"><a href="https://vimeo.com/196790610">Interactive Display @ See's Candies</a></span> - <span class="project-tagline">A winter themed augmented reality display using Kinect's skeleton tracking capabilities.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://vimeo.com/180105298" target="_blank">Bud Light Virtual Fitting Room</a></span> - 
                    <span class="project-tagline">An augmented reality photobooth for Bud Light merchandise, installed at music festivals across the world.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://vimeo.com/137544816" target="_blank">Anything Interactive</a></span> - <span class="project-tagline">Using infrared depth sensors, Anything Interactive transforms retail shelf spaces into an engaging customer experience. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://classes.marpi.pl/webvr/public/adrian/" target="_blank">Grey Area WebVR Workshop</a></span> - <span class="project-tagline">A Three.JS VR environment suitable for viewing on desktop and VR headsets.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://vimeo.com/128038793" target="_blank">Projection Mapped Heart</a></span> - <span class="project-tagline">Designed for Picnic Day, facets of the projection-mapped heart revealed tweets of the town-wide festival in real-time. The canvas was later repurposed for VJ gigs and installations. </span>
                </div><!--//item-->
            </div>
        </div>
            </section><!--//section-->