---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import MainLayout from "../layouts/MainLayout.astro";
---

<!DOCTYPE html>
<html lang="en" data-theme="cmyk">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <MainLayout>
    <div class="avatar">
      <div class="w-24 rounded-full">
        <img src="/pfp.jpeg" />
      </div>
    </div>
  </MainLayout>
</html>
