<dialog
  id="modal"
  class="open:animate-fade-in relative my-auto w-full md:max-w-screen-xl rounded-2xl bg-gray-900 h-[100vh]"
>
  <div class="flex w-full py-4 px-4 sticky top-0 bg-gray-900">
    <div class="flex-grow flex items-center">
      <div
        id="title"
        class="flex-grow items-center flex justify-center text-xl font-bold text-white"
      >
      </div>
    </div>
    <button id="close-modal" class="cursor-pointer outline-none">
      <img class="w-8 h-8" alt="close" src={"close.svg"} />
    </button>
  </div>

  <div
    id="content"
    class="prose dark:prose-invert prose-h1:font-bold text-white prose-h3:text-white prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline m-auto w-full md:max-w-none px-6 md:px-7 overflow-auto pb-4"
  >
  </div>
</dialog>

<script>
  import { modalData } from "../lib/modalStore";

  const button = document.getElementById("close-modal") as HTMLButtonElement;
  const modal = document.getElementById("modal") as HTMLDialogElement;
  const contentContainer = document.getElementById("content") as HTMLDivElement;
  const title = document.getElementById("title");

  button.addEventListener("click", () => {
    modalData.set(undefined);
  });

  modal.addEventListener("close", () => {
    modalData.set(undefined);
  });

  modalData.listen(async (value) => {
    if (!value) {
      modal.close();
      const scrollY = document.body.style.top;
      document.body.style.position = "";
      document.body.style.top = "";
      window.scrollTo(0, parseInt(scrollY || "0") * -1);
    } else {
      document.body.style.top = `-${window.scrollY}px`;
      document.body.style.position = "fixed";

      const postId = value.postID;

      const { compiledContent } = await import(`../posts/${postId}.md`);
      const content = compiledContent();
      contentContainer.innerHTML = content;
      if (title) {
        title.innerText = value.name;
      }

      modal.showModal();
    }
  });
</script>
