---
const { title } = Astro.props;
---

<div class="flex gap-[2px] items-center [&>*]:m-0 skill-glow">
  <h2 class="text-accent-green bg-clip-text font-extrabold">#</h2>
  <h3 class="text-primary-light">{title}</h3>
</div>
