<div class="flex justify-center w-full m-auto mb-5 prose mt-[75px]">
  <h2 id="about" class="text-white text-shadow">About</h2>
</div>
<div class="flex justify-center mb-8 gap-10">
  <img
    src="/public/assets/iceland_portrait.jpeg"
    class="w-auto h-[400px] rounded-xl shadow-xl"
  />
  <div class="text-white text-xl text-shadow">
    Adrian is a creative technologist based in Santa Monica, California. He has
    a passion for exploring the intersection of art, music, and immersive
    experiences. Adrian's diverse skillset includes building web apps, VR/AR
    applications, mixing live visuals, and his ability to quickly adapt new
    technologies.
    <br />
    <br />
    One of Adrian's most notable achievements has been VJ'ing for Proper NYE 2024
    hosted by CRSSD in San Diego, an experience that solidified his dream of pursuing
    a career in the live event industry.
    <br />
    <br />
    Adrian's portfolio boasts an impressive array of projects, including a Spotify
    app for the Magic Leap headset, mobile AR experiences for Coachella, and developing
    <a
      href="https://blocks.glass"
      target="_blank"
      class="text-yellow-300 hover:italic">blocks.glass</a
    >, the first-ever content sharing platform for holograms. He is open to new
    work opportunities, particularly those involving live music or immersive
    spaces, where he can apply his unique blend of technical expertise and
    creative vision.
  </div>
</div>
