---
import Card from "../components/Card.astro";
import CardList from "../components/CardList.astro";
import art from "../data/art";
---

<div class="my-7">
  <div id="art" class="prose-section-header">
    <h2 class="prose-section-title">Art</h2>
  </div>
  <CardList projects={art} key="art" />
</div>
