---
import Card from "../components/Card.astro";
import art from "../data/art";
---

<div class="w-full flex justify-center prose m-auto mb-1">
  <h2 id="art" class="m-0 text-white text-shadow">Art</h2>
</div>
<div class="card-list justify-start self-start gap-2">
  {art.map((project, key) => <Card project={project} />)}
</div>
