<div class="mt-14">
  <style>
    .gradient-button {
      --angle: 0deg;
      --shadow: #e4bef5;
      --background: #262626;
      background: linear-gradient(var(--background), var(--background))
          padding-box,
        conic-gradient(from var(--angle), #e587ff, #51c9ff, #ebf9ab, #e587ff)
          border-box;
      border-radius: 40px;
      border: 4px solid transparent;
      animation: 5s rotate linear infinite;
      box-shadow: 1px 1px 10px var(--shadow);
    }
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }

    @property --angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
  </style>
  <div class="w-full flex justify-center m-auto prose">
    <button
      class="text-white text-shadow text-3xl gradient-button transition-transform active:scale-110 p-6"
    >
      Let's Get In Touch 🤝
    </button>
    <div class="flex"></div>
  </div>
</div>
