---
import Card from "../components/Card.astro";
import CardList from "../components/CardList.astro";
import productions from "../data/productions";
---

<div class="my-[50px]">
  <div id="productions" class="prose-section-header py-5">
    <h2 class="prose-section-title">Event Production</h2>
  </div>
  <CardList projects={productions} key="productions" />
</div>
