---
import Card from "../components/Card.astro";
import CardList from "../components/CardList.astro";
import productions from "../data/productions";
---

<div class="my-[50px]">
  <div id={"productions"} class="flex justify-center w-full m-auto py-5 prose">
    <h2 class="m-0 text-white text-shadow">Productions</h2>
  </div>
  <CardList projects={productions} key="productions" />
</div>
