---
import Card from "../components/Card.astro";
import productions from "../data/productions";
---

<div class="my-[50px]">
  <div class="flex justify-center w-full m-auto mb-5 prose">
    <h2 id={"projects"} class="m-0 text-white text-shadow">Productions</h2>
  </div>
  <div
    id="project-list"
    class="self-start justify-start gap-2 card-list cursor-grab active:cursor-grabbing"
  >
    {productions.map((project) => <Card project={project} />)}
  </div>
</div>

<script>
  const slider = document.querySelector("#project-list")!;
  let isDown = false;
  let startX: number;
  let scrollLeft: number;

  let mql = window.matchMedia("(min-width: 768px)");

  if (mql.matches) {
    slider.addEventListener("mousedown", (e) => {
      isDown = true;
      slider.classList.add("active");
      // startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener("mouseleave", () => {
      isDown = false;
      slider.classList.remove("active");
    });
    slider.addEventListener("mouseup", () => {
      isDown = false;
      slider.classList.remove("active");
    });
    slider.addEventListener("mousemove", (e) => {
      if (!isDown) return;
      e.preventDefault();
      // const x = e.pageX - slider.offsetLeft;
      // const walk = (x - startX) * 1.5; //scroll-fast
      // slider.scrollLeft = scrollLeft - walk;
    });
  }
</script>
