---
import CardList from "../components/CardList.astro";
import projects from "../data/projects";
---

<div class="md:my-[16px] my-[16px]">
  <div id={"projects"} class="flex justify-center w-full m-auto prose">
    <h2 class="m-0 my-5 text-white text-shadow">Projects</h2>
  </div>

  <CardList projects={projects} key="projects" />
</div>
