---
import CardList from "../components/CardList.astro";
import projects from "../data/projects";
---

<div class="my-[16px]">
  <div id="projects" class="prose-section-header my-5">
    <h2 class="prose-section-title">Engineering</h2>
  </div>

  <CardList projects={projects} key="projects" />
</div>
