---
import LargeTag from "../components/LargeTag.astro";
import skills from "../data/skills";
---

<div class="prose-section-header mt-14 mb-1">
  <h2 id="skills" class="prose-section-title">Skills</h2>
</div>
<div
  class="m-auto mt-4 flex flex-wrap justify-center self-start gap-2 [&>*]:m-1 prose px-3"
>
  {skills.map((skill) => <LargeTag title={skill} />)}
</div>
