---
import LargeTag from "../components/LargeTag.astro";
import skills from "../data/skills";
---

<div class="w-full flex justify-center prose m-auto mb-1">
  <h2 id={"skills"} class="text-white text-shadow">Skills</h2>
</div>
<div
  class="m-auto mt-4 flex flex-wrap justify-center self-start gap-2 [&>*]:m-1 prose px-3"
>
  {skills.map((skill) => <LargeTag title={skill} />)}
</div>
