---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../config";
import MainLayout from "../layouts/MainLayout.astro";
import { ViewTransitions } from "astro:transitions";
const { frontmatter } = Astro.props;
const { title, author } = frontmatter;
---

<html lang="en" data-theme="cmyk">
  <head>
    <BaseHead
      title={"Adrian Cacho – Creative Technologist"}
      description={SITE_DESCRIPTION}
      image="assets/coffee.jpeg"
    />
    <ViewTransitions />
  </head>
  <MainLayout>
    <div
      id="blog-post"
      class="prose prose-lg md:mx-auto md:my-[1.5rem] prose-invert text-primary-body m-auto my-10 max-w-4xl rounded-xl panel p-6 sm:p-10 mx-3"
    >
      <slot />
    </div>
  </MainLayout>
</html>
