---
import { SITE_TITLE } from "../config";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<body class="relative overflow-x-hidden pb-3">
  <div class="screen-gradient-2 z-[-1] w-screen h-screen fixed"></div>
  <Header />
  <div class="m-auto max-w-7xl px-1">
    <slot />
  </div>
  <Footer />
</body>
