---
import { SITE_TITLE } from "../config";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Background from "../components/Background.astro";
---

<body>
  <Background />
  <Header />
  <div id="layout" class="m-auto max-w-7xl px-1 z-[1]">
    <slot />
  </div>
  <Footer />
</body>
