---
import { SITE_TITLE } from "../config";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<body class="relative pb-3 w-full screen-gradient-2">
  <Header />
  <div id="layout" class="m-auto max-w-7xl px-1">
    <slot />
  </div>
  <Footer />
</body>
