---
import { SITE_TITLE } from "../config";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<body class="relative pb-3 w-full">
  <div class="screen-gradient-2 z-[-1] w-full h-full absolute"></div>
  <Header />
  <div id="layout" class="m-auto max-w-7xl px-1">
    <slot />
  </div>
  <Footer />
</body>
